{% extends 'base.html.twig' %}
{% block title %}Wild Series {% endblock %}
{% block body %}
   <h1>Tous les films</h1>
   <div class="d-flex flex-row justify-content-center flex-wrap">
   {% for program in programs %}
      <div class="card program-box" style="width: 18rem;">
      <img class="card-img-top" src="{{ asset("build/images/#{program.poster}.jpg") }}" alt="{{program.poster}}">
         <div class="card-body">
            <h5 class="card-title">{{program.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{program.category.name}}</h6>
            <p class="card-text">{{program.synopsis}}</p>
            <a href="{{ path("program_show", { id: program.id}) }}" class="card-link">Voir la fiche</a>
         </div>
      </div>
   {% else %}
      Aucune série
   {% endfor %}
   </div>
   <a href="{{ path('app_index') }}">
      Retour à l'accueil
   </a>
{% endblock %}