{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="media">
        <img src="{{ asset("build/images/#{program.poster}.jpg") }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{season.number}} de {{ program.title }}</h1>
            {% for episode in season.episodes %}
                <a class="btn btn-primary" href="#">{{episode.title}}</a>
            {% else %}
                <div>Aucun épisode</div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
